
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper px-4 py-2">
    <div class="content-header">
        <h1 class="text-dark">Hosgeldin <span class="text-danger">@User.Identity.Name</span></h1>
    </div>

    <div class="content px-2">
        <h2>Global Window Sirketici Otomasyon Sistemi </h2>
        <h5 class="text-bold text-dark mt-3">Burada neler yapmaya <span class="text-success">yetkilisin</span> ?</h5>
        <ul>
            <li>Siparis Eklemek</li>
            <li>Gelen siparislerin odeme ve termin tarihlerinin girisini yapmak</li>
            <li>Kategori eklemek,cikarmak</li>
            <li>Marka eklemek, cikarmak</li>
            <li>Odeme methodu eklemek, cikarmak</li>
        </ul>


    </div>
    </div>
