@model TakipSiparis.Models.PaymentMethod
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

<div class="container">

    @using (Html.BeginForm("Add", "Paymethods", FormMethod.Post))
    {
        
        <div class="form-group">
            @Html.LabelFor(x =>x.PayMeth )
            @Html.TextBoxFor(x => x.PayMeth, new { @class = "form-control" })
        </div>
        <div>
            <button class="btn btn-success">Add Payment Method</button>
        </div>

    }
</div>